<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vainolo.phd.opmeta.gef.editor.OPMetaMultiGraphicalEditor"
            contributorClass="com.vainolo.phd.opm.gef.editor.OPMGraphicalEditorActionBarContributor"
            default="true"
            extensions="opmeta"
            id="com.vainolo.phd.opmeta.gef.editorID"
            name="OP Meta Model GEF Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vainolo.phd.opmeta.gef.editor.OPModelGraphicalEditor"
            contributorClass="com.vainolo.phd.opm.gef.editor.OPMGraphicalEditorActionBarContributor"
            default="true"
            extensions="opmodel"
            id="com.vainolo.phd.opmeta.gef.opmodel.editorID"
            name="OP Model GEF Editor">
      </editor>
   </extension>
</plugin>
